/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-dark {
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --accent-color: #FF0070;
  --major-title-color: #DB00FF;
  --title-color: #FF0070;
  --text-color: #F1B2CE;
  --hover-color: #FF007066;
  color: var(--accent-color);
  background-color: var(--bg-color);
}

@media (prefers-color-scheme: dark) {
  :root {
    --bg-image: url(../images/cover-image-dark.png);
    --bg-color: #000028;
    --accent-color: #FF0070;
    --major-title-color: #DB00FF;
    --title-color: #FF0070;
    --text-color: #F1B2CE;
    --hover-color: #FF007066;
    color: var(--accent-color);
    background-color: var(--bg-color);
  }
}
