:root {
  --bg-image: url(../images/cover-image-dark.png);
  --accent-color: #ff0070;
  --major-title-color: #db00ff;
  --title-color: #ff0070;
  --text-color: #f1b2ce;
  --hover-color: #ff007066;
  --padding-standart: clamp(0.625rem, 2.545vw + 0.029rem, 1.25rem);
}
