:root {
  --bg-image: url(../images/cover-image-dark.png);
    --accent-color: #FF0070;
    --major-title-color: #DB00FF;
    --title-color: #FF0070;
    --text-color: #F1B2CE;
    --hover-color: #FF007066;
}
